body {
  background-color: antiquewhite;
}
h1 {
  font-size: 40px;
  font-weight: 200;
}
ul {
  color: brown;
}
img {
  height: auto;
  width: 500px;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  color: rebeccapurple;
}
